.asta-dropbox {
	width: 100%;
	border: 1px solid #ccc;
	border-collapse: collapse;
}

.asta-dropbox th{
  border-bottom: 2px solid #666;
  padding: 2px;
}

.asta-dropbox tr.odd {
  background-color: #f0f0f0;
}

.asta-dropbox tr td{
  border-bottom: 1px solid #ccc;
  padding: 1px;
}

