.dropbox-folder, .dropbox-files {
	clear: left;
}

.dropbox-folders div{
	margin:10px 5px;
	border: 1px solid #ccc;
	width: 100px;
	height: 100px;
	text-align: center;
	padding: 3px;
	font-style: italic;
	margin: 0;
	padding: 0.5em;
	font-size: 0.8em;
	float: left;
}

.dropbox-files div {
	margin:10px 5px;
	border: 1px solid #ccc;
	width: 80px;
	height: 80px;
	text-align: center;
	padding: 3px;
	font-style: italic;
	font-size: 0.8em;
	float: left;
}
.dropbox-files p {
	margin: 0;
	padding: 0.5em;
}